.footer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  text-align: center;
  background: #70bce2;
  font-size: 15px;
  padding:15px 30px;
  max-width: 1200px;
  margin: 0 auto;
  /* Градієнт від центру до країв */
  background: radial-gradient(circle, #70bce2 0%, #1c7abf 100%);
  

}
.text{
  display: flex;
  gap:8px;
  align-items: center ;
  margin: 0;
   transition: color 0.2s;
}
/* Додатково: при наведенні */
.text:hover {
  color: #000;  /* змінюємо колір при hover */
  cursor: pointer;
}
.logo {
   height: 80px; 
  object-fit: contain;
}
/* Стиль для контактів */
.contacts {
  display: flex;
  /* flex-wrap: nowrap; */
  flex-direction: row; /* дві колонки */
  gap: 40px;
  align-items: flex-start;
}
.contactColumn {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.contactLink, .addressLine {
  color: #e9da35;
  text-decoration: none;
  transition: color 0.2s;
}

.contactLink:hover,
.addressLine:hover {
  color:#2b3ada;
}
.addressLine {
  margin: 0;
  color: #e9da35; /* базовий колір */
  transition: color 0.2s;
}
.addressLine:hover {
  color: #2b3ada; /* або залишаємо колір без зміни */
}
.social {
  display: flex;
  gap: 12px;
  
}
.socialLink {
  transition: transform 0.2s;
}
.socialLink:hover {
  transform: scale(1.2);
}
.iconGoogle {
  font-size: 22px;
  fill: hsl(57, 89%, 49%);
}

.iconInstagram {
  font-size: 22px;
  fill: #E4405F;
}

.iconFacebook {
  font-size: 22px;
  fill: #240d9a;
}
/* На мобільному */
@media (max-width: 768px){.footer {
  flex-direction: column;
  text-align: center;
  padding: 20px;
  gap: 20px;
}
 .contacts {
   flex-direction: column;   /* на мобільному колонки стають вертикально */
    align-items: center;
     gap: 10px;
  }
   .contactColumn {
    align-items: center;
  }
  .logo {
    height: 70px;
  }
   .social {
    justify-content: center;
  }}