.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.catalogWrapper {
  display: flex;
  gap: 20px;
}
/* Стиль для заголовка h1 */
.title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;        /* жирний заголовок */
  color: #e9da35;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
  margin-bottom: 30px;
}


/* Сайдбар */
.sidebar {
  width: 220px;
  background-color: #f0f0f0;
  border: 1px solid #0c04e0;
  padding: 15px;
  border-radius: 10px;
      /* Додано тінь */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;

}

.sidebar li {
  padding: 10px 12px;
  margin-bottom: 8px;
  background-color: #fff;
  color: #260cc9;
  font-weight: bold; 
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}

.sidebar li:hover {
  background-color: #3413d9;
  color: #fff;
}


.active {
  background-color: #70bce2;
  color: #fff;
}

/* Контент праворуч */
.content {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.card {
  width: 100%;
  height: 250px;
  background-color: #f8f8f8;
  color: #280ce1;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 500;
  font-size: 1rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}
.text{
  color: #280ce1;
  font-size: 12px;
  font-weight: 700;
}